div class="well"
	div class="row"
		div class="span11"
			h1 class="page-header"Social Stocks
		div class="span8"
			handlebars:
			  {{ view SocialStocks.NewView }} 
div class="well"
	handlebars:
		{{view SocialStocks.IndexView tagName="div"}}
