<div class="well">
	<div class="row">
		<div class="span11">
			<h1 class="page-header">Social Stocks</h1>
		</div>
		<div class="span8">
			<script type="text/x-handlebars">
			  {{ view SocialStocks.NewView }} 
			</script>
		</div>
	</div>
</div>
<div class="well">
	<script type="text/x-handlebars">
		{{view SocialStocks.IndexView tagName="div"}}
	</script>
</div>	
