<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th> Stock Name </th>
      <th> PTAT Score </th>
      <th> Website </th>
    </tr>
  </thead>
  <tbody>
    {{#each stock in controller.content}}
      {{view SocialStocks.ShowView stockBinding="stock"}}
    {{/each}}     
  </tbody>
</table>
